@model Mentorship.Models.SecondaryFunctions.CoursePageModel

@{
    ViewData["Title"] = "CoursePage";
}

<center>

    <b>
        <a class="nav-link text-dark" href="
               https://localhost:44373/Homework/Index?lessonTitle=@Model.lessonTitle">
            Hometasks >
        </a>
    </b>

    <p />

    <h1>@Model.lessonTitle</h1>

    <p />
    @{
        string path = Model.lessonTitle + ".png";

        <img src="~/courses/@path" style="width:auto;height:300px;">
    }
    <p />

    <hr>
    @Model.description
    <hr>

    @if (true)
    {
        <center>
            <form method="post" enctype="multipart/form-data">
                <label>News Title:</label>
                <p />
                <input type="text" class="all-text-box" name="NewsTitle" />
                <p />
                <label>News Text:</label>
                <p />
                <textarea name="NewsText"> </textarea>
                <p />
                <input type="file" multiple name="file" />
                <p />
                <input type="submit" asp-action="AddNews" asp-controller="Course" name="lessonTitle" class="button greenButton" value="Add news in @Model.lessonTitle">
            </form>
        </center>
    }
</center>


<hr>
@foreach (var u in Model.news)
{
    @if (u.LessonTitle.Equals(Model.lessonTitle))
    {
        <center>
            <h1>
                <b>@u.NewsTitle</b>
            </h1>

            <p />

            <b>
                @u.NewsText
            </b>
        </center>


        @foreach (var f in Model.at)
        {
            if (f.NewsTitle.Equals(u.NewsTitle))
            {
                <a class="nav-link a-gray" href="
               https://localhost:44373/Course/DownloadFile?LessonTitle=@f.LessonTitle&Filename=@f.FileName&NewsTitle=@f.NewsTitle">
                    @f.FileName
                </a>
            }
        }

        <hr>
    }
}
