@model MentorshipProject.Models.SecondaryClassCoursePage

@{
    ViewData["Title"] = "CoursePage";
}
<center>
    <h1>CoursePage</h1>
</center>
<hr>
<form method="post" asp-action="Hometask" asp-controller="CoursesList">
    <input type="submit" class="button buttonGreen" ++>
</form>

@{
    string title = "";
    @foreach (var u in Model.LessonTitle)
    {
        title = u;
    }
    title = title.Split('#')[0].Substring(0, title.Split('#')[0].Length - 3);
}

<center>
    <form method="post" asp-action="PostNewsClick" asp-controller="CoursesList" enctype="multipart/form-data">
        <p />
        <label><b>Header:</b></label> <p /> <input name="header" />
        <p />
        <label><b>Text</b></label> <p /> <textarea name="text"> </textarea>
        <p />
        <input type="file" multiple name="file">
        <p />
        <input type="submit" value="Add news in (@title)" name="lessonTitle" class="button buttonBlue">
    </form>
</center>

@foreach (var u in Model.lessonNews)
{
    string lt = u.LessonTitle.Split('(')[1].Substring(0, u.LessonTitle.Split('(')[1].Length - 1);
    @if (lt.Equals(title))
    {
        <center>
            <form method="post" asp-action="DeleteNews" asp-controller="CoursesList">
                <input class="button buttonGray" type="submit" value="Delete news number @u.Id" name="delete">
            </form>
            <form method="post" asp-action="Hometask" asp-controller="CoursesList">
                <input class="button buttonBlack" type="submit" value="Add hometask in @title" name="lessonTitle">
            </form>

            <b>@u.Head</b>
            <p />
            @u.Text
            <p />
            <b>by @u.Sender</b>

            @foreach (var i in Model.lessonAttachedFiles)
            {
                @if (i.LessonId.Split('|')[0].Equals(lt) && i.LessonId.Split('|')[1].Equals(u.Head))
                {
                    <form method="post" asp-action="DownloadFile" asp-controller="CoursesList">
                        <input type="submit" value="@i.FileName - @u.LessonTitle" name="name" />
                    </form>
                }
            }
            <hr>
        </center>
    }
}
