@model MentorshipProject.Models.HometaskSecondary
@{
    ViewData["Title"] = "Hometask";
}
<center>
    <h1>Hometask</h1>
</center>

<center>
    <form method="post" asp-action="HometaskDownload" asp-controller="CoursesList" enctype="multipart/form-data">
        <input name="title">
        <p />
        <textarea name="text"> </textarea>
        <p />
        <input type="file" name="files" multiple>
        <p />
        <input type="submit" class="button buttonGray" value="@Model.LessonTitle" name="lesson">
    </form>
</center>

@foreach (var u in Model.hometasks)
{
    <b>@u.HometaskTitle</b>
    <p/>
    @u.HometaskText

    @if (u.Lesson.Equals(Model.LessonTitle))
    {
        <form>
            <input type="submit" value="@u.HometaskTitle">
        </form>
    }
    @u.Sender
}