@model Mentorship.Models.SecondaryFunctions.HomeworkModel
@{
    ViewData["Title"] = "Index";
}

<style>
    button {
        position: relative;
        transition: background 400ms;
        border-radius: 0.5px;
    }

    span.ripple {
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        animation: ripple 600ms linear;
        background-color: rgba(255, 255, 255, 0.7);
    }

    @@keyframes ripple {
        to {
            transform: scale(4);
            opacity: 0;
        }
    }
</style>

<center>
    <b>
        <a href="/Course/CoursePage?lessonTitle=@Model.lessonTitle" class="nav-link text-dark">
            < News
        </a>
    </b>

    <p />

    <h1>Hometasks in @Model.lessonTitle</h1>
    @{
        string path = Model.lessonTitle + ".png";

        <img src="~/courses/@path" style="width:auto;height:300px;">
    }
    <hr>
    @if (true)
    {
        <form method="post" asp-action="AddHometask" asp-controller="Homework">
            <label>Homework Theme:</label>
            <p />
            <textarea name="theme"> </textarea>          
            <p />
            <label>Pupils who have to do it:</label>
            <p />
            <input class="all-text-box" type="text" name="emails" value="All" />
            <p />

            <label for="get_date">Date:</label>
            <input type="date" name="get_date"
                   value="@Model.date"
                   min="@Model.date">
            
            <p />
            <label for="get_date">Date:</label>
            <input type="time" name="get_time"
                   value="@Model.time">
            <p />

            <input type="submit" name="lessonTitle" value="Add Hometask to @Model.lessonTitle" class="button greenButton" />
        </form>
    }
</center>

@foreach (var u in Model.htTheme)
{
    string lt = u.Hometask.Substring(4);

    if (lt.Equals(Model.lessonTitle))
    {
        <center>
            <h1>
                @u.Date.Split('*')[0]
            </h1>
            <b> @u.Theme </b>
        </center>
        if (!u.Pupils.Equals("All"))
        {
            foreach (var f in u.Pupils.Split(' '))
            {
                
                <p />
                @f

            }
        }
        else
        {
            <b>Everyone have to do it</b>
        }

        if (true)
        {
            List<string> pupils = new List<string>();

            @foreach (var f in Model.htFiles)
            {
                @if (Model.email.Equals(f.Sender) || Model.isCreator)
                {
                    @if (!pupils.Contains(f.Sender))
                    {
                        if (f.HometaskId.Equals(u.Id))
                        {
                        <hr>
                        <b>
                            @f.Sender
                            :
                        </b>

                            pupils.Add(f.Sender);
                        }
                    }
                    <p />

                    int a = Int32.Parse(f.HometaskId.Split('|')[0]);

                    <a href="/Homework/DownloadHt?id=@a&filename=@f.HometaskId.Split('|')[1]">
                        @f.HometaskId.Split('|')[1]
                    </a>
                    <p />

                }
            }
        }

        <hr>
        <form method="post" enctype="multipart/form-data">
            <input type="file" multiple name="files">

            <input type="submit" value="Add HT in @u.Id" name="id" class="blueButton"
                   asp-action="HometaskAdded" asp-controller="Homework" />
        </form>
        <hr>
        <p />
    }
}
